h3 { line-height: 64px}

.project-container {
    line-height: normal;
    background: #FFFFFF;
}

.download-project-container {
    margin: 10px 10px 10px 10px;
}

.project-options {
    width: 70%;
    margin: 10px 10px 10px 10px;
    text-align: center;
}

.options-container {
    margin: 50px 10px 10px 10px;
}
.avatar-container {
    margin: 10px 10px 10px 10px;
}