h3 { line-height: 64px}

.project-container {
    line-height: normal;
    background: #FFFFFF;
}

.download-project-container {
    margin: 10px 10px 10px 10px;
}

.project-options {
    margin: 30px 20px 20px 20px;
}

.avatar-container {
    margin: 10px 10px 10px 10px;
}
.project-details {
    margin: 10px 10px 25px 10px;
}

.project-clickable-details {
    display: flex;
    justify-content: space-between;
}

.details-clickable-row {
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 10px 20px 10px;

}
.executors-list-container {
    padding: 10px 10px 10px 10px;
}

.voting-options-container {
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
}
.countdown-container {
    margin-bottom: 10px;
}
.ant-layout {
    background: white;
}