h3 { line-height: 64px}

.project-container {
    line-height: normal;
    background: #FFFFFF;
}

.download-project-container {
    margin: 10px 10px 10px 10px;
}

.project-options {
    width: 70%;
    margin: 20px 20px 20px 20px;
    text-align: center;
}

.options-container {
    margin: 50px 10px 10px 10px;
}
.avatar-container {
    margin: 10px 10px 10px 10px;
}
.project-details {
    margin: 10px 10px 25px 10px;
}

.project-clickable-details {
    display: flex;
    justify-content: space-between;
}